.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: var(--high-contrast-text);
  font-size: 14px;
  border-radius: 4px;
  margin: 0 3px;
  cursor: pointer;
}

.page-link.active {
  background-color: var(--button-active);
  color: var(--high-contrast-text);
}

.page-link.active:hover {
  background-color: var(--button-active-hover);
}

.page-link:hover {
  background-color: var(--button-hover);
}

.page-link.disabled {
  pointer-events: none;
  opacity: 0.38;
}

.pagination-navigation {
  height: 0.7em;
}

.page-link.dots:hover {
  content: ">>";
}
