@font-face {
  font-family: "Saira Condensed";
  src: url("../../fonts/SairaCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Saira Condensed";
  src: url("../../fonts/SairaCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@import url("../common/etc/variables.css");

.light-mode {
  --freebets-green: var(--freebets-green-light);
  --freebets-pink: var(--freebets-pink-light);
  --site-background: var(--site-background-light);
  --high-contrast-text: var(--high-contrast-text-light);
  --low-contrast-text: var(--low-contrast-text-light);
  --navbar-black: var(--navbar-black-light);
  --low-contrast-border: var(--low-contrast-border-light);
  --dropdown-menu-background: var(--dropdown-menu-background-light);
}

.dark-mode {
  --freebets-green: var(--freebets-green-dark);
  --freebets-pink: var(--freebets-pink-dark);
  --site-background: var(--site-background-dark);
  --high-contrast-text: var(--high-contrast-text-dark);
  --low-contrast-text: var(--low-contrast-text-dark);
  --navbar-black: var(--navbar-black-dark);
  --low-contrast-border: var(--low-contrast-border-dark);
  --dropdown-menu-background: var(--dropdown-menu-background-dark);
}

.site {
  background-color: var(--site-background);
  color: var(--high-contrast-text);
  fill: var(--high-contrast-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: 0 8px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.bet-table {
  height: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

.bet-row {
  border: solid;
  border-width: 1px 0;
  border-color: var(--low-contrast-border);
}

.book {
  height: 2em;
}

.books-container {
  display: flex;
  margin: 4px 0 4px 0;
}

.select-books-message-container {
  justify-content: center;
  display: flex;
}

.select-some-books {
  color: #888;
}

.nodeGroupCellLines {
  vertical-align: top;
}

svg {
  height: 1em;
}

.content-backdrop {
  z-index: 1;
  background-color: #00000030;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  opacity: 0;
}

.content-backdrop.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
