@font-face {
  font-family: "Saira Condensed";
  src: url("../../fonts/SairaCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Saira Condensed";
  src: url("../../fonts/SairaCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: "Roboto";
  background-color: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.bet-table {
  height: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

.bet-row {
  border: solid;
  border-width: 1px 0;
  border-color: #cccccc;
}

.book {
  height: 2em;
}

.books-container {
  display: flex;
  margin: 4px 0 4px 0;
}

.select-books-message-container {
  justify-content: center;
  display: flex;
}

.select-some-books {
  color: #888;
}

.nodeGroupCellLines {
  vertical-align: top;
}

svg {
  height: 1em;
}
