.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto 15px auto;
}

.filter-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: clamp(350px, 80%, 550px);
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filter-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 170px;
  max-width: 250px;
}

.filter-cell {
  display: flex;
  flex-direction: column;
  margin: 4px 4px;
}

.select-helper,
.input-helper {
  margin-left: 8px;
  font-size: 14px;
}

.info-circle {
  fill: #3b3b3c;
  vertical-align: baseline;
  height: 14px;
  margin: 4px;
}

.react-tooltip {
  z-index: 1;
}
