#switch-panel {
  display: grid;
  margin: auto;
}

#filter-bar {
  margin: 20px auto 40px auto;
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  table-layout: fixed;
}

.filter-cell {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.select-helper {
  margin-left: 8px;
  font-size: 14px;
}

#show-live,
#show-push {
  margin-left: 0;
  margin-right: 0;
}

.info-circle {
  fill: #554e6b;
  vertical-align: baseline;
  height: 14px;
}

.react-tooltip {
  z-index: 1;
}

.info-anchor {
  margin-left: 8px;
}

.switch-container {
  display: flex;
  align-items: center;
}
