.tabs-container {
  margin: auto;
  transform: translateZ(1px);
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs > :nth-child(1),
.tabs > :nth-child(2) {
  border-right: none;
}

.tabs > :first-child {
  border-radius: 10px 0 0 10px;
}

.tabs > :last-child {
  border-radius: 0 10px 10px 0;
}

.tabs > :nth-child(1).active + :nth-child(2),
.tabs > :nth-child(2).active + :nth-child(3) {
  border-left: 1px solid #098a27;
}

.tab {
  flex-grow: 1;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid rgb(207 217 209);
  font-size: 14px;
  color: #4d534f;
  fill: #606461;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  display: flex;
  font-family: "IBM Plex Sans";
}

.tab.active {
  background-color: #32c85536;
  border-color: #098a27;
  color: #339636;
  fill: #339636;
}

.menu-setting-label {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  margin-left: 13px;
  color: rgb(84 85 92);
  margin-bottom: 4px;
  font-size: 12px;
}

.styles-block {
  display: flex;
  flex-direction: column;
}

.style-icon {
  margin-right: 8px;
  height: 20px;
}
