.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: 'Robotto', sans-serif;
  background-color: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

table {
  height: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  padding: 0 15px 0 0;
}

.bet-row { 
  border: solid;
  border-width: 1px 0;
  border-color: #cccccc
}

.book {
  height: 2em;
}

.books-container {
  display: flex;
  margin: 4px 0 4px 0;
}