.book {
  height: 2em;
}

th {
  text-align: left;
}

table {
  height: 100%;
  border-collapse: collapse;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}

.bet-row { 
  border: solid;
  border-width: 1px 0;
  border-color: #cccccc
}

label {
  margin-left: 8px;
  font-size: 14px;
}