#switch-panel {
    display: grid;
    margin: auto;
}

#filter-bar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 400px;
    max-width: 700px;
    table-layout:fixed;
}

.filter-cell {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.select-helper {
    margin-left: 8px;
    font-size: 14px;
  }

  #show-live, #show-push {
    margin-left: 0;
  }