.calc-input {
  box-sizing: border-box;
  height: 30px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  outline: none;
}

.conversion-input {
  outline: none;
  border: none;
  background-color: #f2f2f2;
  height: 30px;
  width: 60px;
  font-size: 16px;
  color: #333;
}

.conversion-adornment {
  background-color: #f2f2f2;
  height: 30px;
  font-size: 18px;
  color: #888;
  padding: 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversion-container {
  width: fit-content;
  margin: 10px auto;
}

.conversion-full-input {
  display: flex;
  width: fit-content;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.calc-input.empty {
}

.hedge-input {
  background-color: rgba(0,0,0,0);
}

.calc-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-container {
    min-width: 150px;
    width: 20vw;
    max-width: 250px;
}

.dynamic-cell {
  min-width: 120px;
  width: 10vw;
  max-width: 145px;
}
  
.input-label {
    font-size: 14px;
    margin-bottom: 3px;
}
  
.input-cell {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.calc-table {
    margin: auto;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.profit-box {
    padding-top: 40px;
}

.calc-bet-name {
    text-align: center;
    font-weight: 500;
}