.switch-container {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-right: 10px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
  border-radius: 10px;
  border: 2px solid #323232;
}

.slider::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
  border-radius: 6px;
  background-color: #323232;
}

.switch-container.checked .slider {
  border-color: #fa5b67;
}

.switch-container.checked .slider::before {
  transform: translate(15px);
  background-color: #fa5b67;
}

.slider:hover {
  border-color: #121212;
}

.switch:hover .slider::before {
  background-color: #121212;
}

.switch-container.checked .slider:hover {
  border-color: #e65b5b;
}

.switch-container.checked.switch-container:hover .slider::before {
  background-color: #e65b5b;
}
